%h2 About KegeratorStat.us

%h3 WTF is this bullshit?

%p
  Well. See. I have kegerator. A new one. It's awesome. You should buy one.

%p
  Specifically, you should buy one so that I can make a commision. Here's a coupon for $15 off if you spend
  three hundred bucks or more. Don't worry. You will.

  <a href="http://www.jdoqocy.com/click-5516923-10884176" target="_blank">Shop Kegerator.com for Additional $15 off orders $299+ with code K299NOV now thru 11/30</a><img src="http://www.ftjcfx.com/image-5516923-10884176" width="1" height="1" border="0"/>

%p 
  I'm also a giant geek, and I want to make pretty charts about how much I drink, and I want
  some sort of automated reminder that I should probably get beer soon.

%p
  Don't you?

%p
  So that's what this is. If you add your kegerator, and track when you fill it, and empty it, I promise to
  eventually have pretty statistics about just how much beer you drink, and do some sort of fancy remindering
  about buying beer.

%p
  I also promise to advertise the <b>shit</b> out of any beer or kegerator related affiliate programs I can find,
  but nothing that's going to drive you insane. Honest. I hate ads, but, well, I need beer money.

